.main-heading {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  height: auto;
}
.heading {
  font-family: 'Roboto';
  color: #05acff;
}
.list-container {
  color: #ffffff;
}
